* { padding:0; margin:0;}
#footer .credit {
	padding: 5px;
	font: 10px Georgia, "Times New Roman", Times, serif;
}

ul { list-style:none;}
body {background: #036 url(images/bg.jpg) fixed center center repeat-y; font: .75em Verdana, Arial, Helvetica, sans-serif; color:#333;}
#wrap {width:973px; margin:auto;}
h1, h2, h3, .subhead, .heading {font-family:Georgia, "Times New Roman", Times, serif;}
h1 { font-size: 2em; font-weight:normal;}
h2 { font-size: 1.5em; font-weight:normal;}
h3 {font-size: 1.2em; font-weight:normal;}
.clear {clear:both;}
.leftalign {float:left;}
.rightalign {float:right;}
.centeralign { margin:5px auto 5px auto;}
img.leftalign, img.rightalign, img.centeralign {display:block; padding:5px; background:#fff; border:solid 1px #ddd; margin:5px; }
a {color:#000; text-decoration:none;}
a:visited { color:#333; text-decoration:none;}
a:hover {color:#036; text-decoration:none;}
#wrap2 {background:url(images/pagebg.png) repeat-y; padding:0 7px 0 7px;}
#topbar {background: url(images/topbar.jpg) no-repeat; height:59px; padding:10px;}
#header {background:url(images/header.jpg) no-repeat; height:169px;}
#footer {background: url(images/footer.jpg) no-repeat; height:44px; width:937px; padding:10px; margin:auto; text-align:center;}

#content { background:url(images/contengbg.jpg) 666px 0 repeat-y; padding:10px;}
#topbg {background:url(images/topbg.png) no-repeat; height:14px;}
#btmbg {background:url(images/btmbg.png) no-repeat; height:13px;}
#headercontent {height:120px;}
#topnav {background:url(images/menubar.png) no-repeat; height:29px; width:916px; margin:auto;}
 margin:16px 10px 0 0;}

#sitename {
	font: bold 24px "Trebuchet MS", Arial, Halvetica, sans-serif;
	display: block;
	float: left;
	padding-top: 10px;
	color: #2E2E2E;
}
#sitename .description {
	display: block;
	font: normal 12px Georgia, "Times New Roman", Times, serif;
	color: #333;
}

#sitename a { color:#000; background:none; }
#sitename a:hover {color:#999; background:none;}

#wrap #wrap2 #content #left .post .postcontent #comments #commentcontent li {
	display: block;
	padding: 5px;
	margin-bottom: 5px;
	background: #fff;
	list-style: none;
}
#wrap #wrap2 #content #left .post .postcontent #comments #commentcontent .odd {
	background: #D3DEED;
}
